/*Navbar CSS*/
.navbar {
    width: 100%;
    height: 113px;
    position: fixed;
    top: 0;
    background: var(--primary);
    z-index: 1;
    }

.navbarContainer {
    position: relative;
    }

.yellowBar {
    width: 100%;
    position: relative;
    justify-content: space-between;
    height: 80px;
    background: rgba(252, 191, 73, 1);
    border-bottom: 8px solid rgba(0, 48, 73, 1);
}

.resName {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    background: rgba(0, 48, 73, 1);
    }

#resNameMERNlin {
    white-space: nowrap;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    margin-right: 80px;
    color: rgba(247,127,0,1)
    }

#resNamePizza {
    white-space: nowrap;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    color: rgba(247,127,0,1);
    }

.signUp {
    white-space: nowrap;
    position: absolute;
    cursor: pointer;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    padding-right: 20px;
    left: 1400px;
    margin-top: -130px;
    color: rgba(247,127,0,1);
    }

    .logIn {
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    left: 1550px;
    margin-top: -130px;
    color: rgba(247,127,0,1);
    }

.orderHistory {
    white-space: nowrap;
    position: absolute;
    cursor: pointer;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    padding-right: 20px;
    left: 1750px;
    margin-top: -130px;
    color: rgba(247,127,0,1);
    }

.logOut {
    white-space: nowrap;
    cursor: pointer;
    position: absolute;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    left: 1920px;
    margin-top: -130px;
    color: rgba(247,127,0,1);
    }

.logoCircle img{
    position: absolute;
    cursor: pointer;
    max-width: 100%;
    top: -65px;
    width: 260px;
    height: auto;
}

.navbarLeft {
    justify-content: space-between;
    position: absolute;
    text-decoration: none;
    color: var(--primary);
    display: flex;
    list-style-type: none;
    left: 180px;
    padding-left: 160px;
    transform: translateY(-20px);
    }

.navbarLeft button {
    justify-content: space-between;
    text-decoration: none;
    color: var(--primary);
    background-color: transparent;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 35px;
    padding: 4px 15px;
    margin-top: 25px;
    }

.navLinks {
    justify-content: space-between;
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 35px;
    padding: 4px 15px;
    margin-top: 25px;
    }

.navbarRight {
    position: absolute;
    text-decoration: none;
    color: var(--primary);
    right: 30px;
    display: flex;
    list-style-type: none;
    padding-right: 30px;
    transform: translateY(-20px);
    }

.navbarRight li {
    text-decoration: none;
    color: var(--primary);
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 35px;
    padding: 4px 15px;
    }

.navbarName img {
    width: 220px;
    cursor: pointer;
    }

.orderButton img {
    position: absolute;
    cursor: pointer;
    width: 200px;
    left: 35px;
    top: 760px;
    }

@media only screen and (max-width: 1690px) {
        .navLinks {
            font-size: 30px !important;
        }
        .signUp {
            left: 1350px;
        }
        .logIn {
            left: 1500px;
        }
    }

@media only screen and (max-width: 1670px) {
        .signUp {
            left: 1150px;
        }
        .logIn {
            left: 1300px;
        }
    }

@media only screen and (max-width: 1450px) {
        .signUp {
            left: 1000px;
        }
        .logIn {
            left: 1150px;
        }
    }

@media only screen and (max-width: 1270px) {
        .signUp {
            left: 900px;
        }
        .logIn {
            left: 1050px;
        }
    }

@media only screen and (max-width: 1150px) {
        .signUp {
            left: 700px;
        }
        .logIn {
            left: 850px;
        }
    }

@media only screen and (max-width: 1570px) {
        .navLinks {
            font-size: 28px !important;
        }
    }

@media only screen and (max-width: 1540px) {
        .navLinks {
            font-size: 25px !important;
        }
    }

@media only screen and (max-width: 1460px) {
        .navLinks {
            font-size: 25px !important;
            padding: 0;
        }
    }

@media only screen and (max-width: 1405px) {
        .navLinks {
            font-size: 25px !important;
            padding: 0;
        }
        .navbarLeft {
            padding-left: 80px;
        }
    }

@media only screen and (max-width: 1300px) {
        .navLinks {
            font-size: 22px !important;
            padding: 0;
        }
    }

@media only screen and (max-width: 1100px) {
        .navLinks {
            font-size: 20px !important;
            padding: 0;
    }
}

@media only screen and (max-width: 1050px) {
    .navLinks {
        font-size: 18px !important;
        padding: 0;
    }
}

@media only screen and (max-width: 980px) {
    .navLinks {
        font-size: 18px !important;
        padding: 0;
    }
    .logoCircle {
        display: none;
    }
    .navbarLeft {
        left: 0;
    }
}

@media only screen and (max-width: 800px) {
    .navLinks {
        font-size: 15px !important;
        padding: 0;
    }
    .logoCircle {
        display: none;
    }
    .navbarLeft {
        left: 0;
    }
}

@media only screen and (max-width: 720px) {
    .navLinks {
        font-size: 10px !important;
        padding: 0;
    }
    .logoCircle {
        display: none;
    }
    .navbarLeft {
        left: 0;
    }
}

@media only screen and (max-width: 360px) {
    .navLinks {
        font-size: 18px !important;
        padding: 0;
    }
    .logoCircle {
        display: none;
    }
    .navbarLeft {
        left: 0;
    }
}



/*Navbar CSS ends*/