* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'sans-serif';
  }

.heroHeader {
    width: 100%;
    height: 100vh;
    background: url("../Images/herophoto.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .heroContainer {
    width: 1200px;
    margin: 0 auto;
    z-index:1;
  }
  .row {
    display: flex;
    width: 100%;
  }
  .col-6 {
    width: 50%;
  }
  .headerDetails {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #F77F00;
  }

  .headerSection h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
  }
  
  .headerSection p {
    font-size: 25px;
    font-weight: 100;
    color:#F77F00;
    line-height: 40px;
    margin-bottom: 40px;
  }
  .Merlinimg img {
    padding: 0 30px;
    margin-top: 150px;
    height: 550px;
    margin-left: 150px;
  }