* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: 'sans-serif';
  }

.heroHeader {
    width: 100%;
    height: 100vh;
    /* background: url("../Images/herophoto.png"); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .heroContainer {
    background: url("../Images/herophoto.png");
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    

  }
  .row {
    display: flex;
    width: 100%;
  }

  .headerDetails {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: #F77F00;
    justify-content: center;
  }

  .headerSection h1 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 20px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    justify-content: center;
    text-align: center;
  }
  
  .headerSection h2 {
    font-size: 25px;
    font-weight: 100;
    color:#F77F00;
    line-height: 40px;
    margin-bottom: 40px;
    font-weight: 700;
    text-shadow: 2px 2px 4px #000000;
    justify-content: center;
    text-align: center;
  }

  .Merlinimg img {
    padding: 0 30px;
    margin-top: 150px;
    height: 550px;
    margin-left: 150px;
  }
  .Featured {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .Feature {
    margin: 20px;
    flex: 1;
    background: ;
    color: #003049;
  }
  
  .Feature img {
    width: 100%;
  }
  
  .Feature-bio {
    padding: 25px;
    line-height: 1.3;
  }
  
  .Feature-bio h3 {
    font-size: 28px;
  }
  
  .Feature-bio h4 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 15px;
  }
  
  .Feature-bio p {
    font-size: 17px;
  }